<h1><%= @article.title %></h1>

<%= link_to "Edit", edit_article_path(@article), class: 'btn btn-mini' %>
<p><%= @article.body %></p>

<%= link_to "Delete Article", @article, method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this article?' %> 

<%# content_for :sidebar do %>
   <%#= @article.created_at %>
<%# end %>
