<div class="one-third column">
  <h3>What is Essential Oil?</h3>
It is the "life force" of a plant and distributed among its flowers, leaves, bark, stems and roots. These oils protect the plant from insects and other herbivores, from bacteria, molds, fungi and micro-organisms. They also help to heal inflicted wounds. These unique characteristics make essential oils highly beneficial to humans.</p>

<div class="one-third column">
  <h3>Essential Oil Knowledge</h3>
      <ul class="square">
        <li><a href="https://static.youngliving.com/en-US/PDFS/lit-thieves_booklet.pdf"><strong>Thieves Blend:</strong> standards, history and use tips</a></li>
        <li><a href="https://static.youngliving.com/en-US/PDFS/lit-raindrop_technique.pdf"><strong>Raindrop Technique</strong></a> ancient Lakota wisdom</li>
            <li><a href="#typography">Typography</a></li>
            <li><a href="#buttons">Buttons</a></li>
          </ul>
          </div>
                <ul class="square">
                  <li><strong>A Responsive Grid Down To Mobile</strong>: Elegant scaling from a browser to tablets to mobile.</li>
                  <li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
                  <li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
                </ul>
          </div> 
          
          <div class="one-third column">
            <h3>What is Aromatherapy?</h3>
It is the use of therapeutic grade essential oils to affect mood and promote natural healing. Generally this means inhaling the aroma through the use of nebulizer, mister, or diffuser. However, the definition of aromatherapy has grown to include applying oils on the skin or ingesting them with a gelcap. For this reason it is very important to use therapeutic grade oils, as lesser quality oils are adulterated with chemicals to make the product stretch further.  
<%#a href="http://www.getskeleton.com">www.getskeleton.com.</a>. Skeleton is also open-source and has a <a href="https://github.com/dhgamache/skeleton">project on git</a>, so check that out if you want to report bugs or create a pull request. If you have any questions, thoughts, concerns or feedback, please don't hesitate to email me at <a href="mailto:hi@getskeleton.com">hi@getskeleton.com</a>.</p> %>
          </div>


